// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




.delete-btn{
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: red;
    position: absolute;
    right:10px
}

span.buttons-span{
    position: absolute;
    right: 15px;
    bottom: 5px;
}

span.buttons-span span:first-child{
    margin-right: 10px;
}

span.buttons-span span:first-child a{
    color: #328014;
}

span.buttons-span span:last-child a{
    color: #ff2a34;
}

span.product-header-title{
    color:red;
    text-decoration: underline;
    font-weight: bold;
}

